<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<div th:replace="fragments/header :: headerAuthenticated"></div>
 
 <div class="mx-auto p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
   
     <h5 class="text-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
     	Add New Grocery
     </h5>
     
   <form th:action="@{/grocery/update}" method="post" th:object="${grocery}">
    	<input type="hidden" th:field="*{id}">
	  <div class="mb-6">
	    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Item</label>
	    <input type="text" th:field="*{name}" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
	  </div>
	  <div class="mb-6">
	    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Quantity</label>
	      <input type="text" th:field="*{quantity}" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
	  </div>
  	  <button type="button" onClick="cancelForm()" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
  	  	Cancel
  	  </button>
	  
	  <button type="submit" class="float-right text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
	  	Submit
	  </button>
	</form>
	<br />
</div>
	
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/recipe}]]"
    }
</script>
</body>
</html>